<body>
    <div class="container">
        <div class="row">
            <h3>Введите граничные даты построения отчёта и e-mail для отправки</h3>
        </div>
     
        <form>
            <div class="form-group">
                <label for="firstDate">C</label>
                <div class="input-group date col-lg-3" data-provide="datepicker">
                    <input type="text" class="form-control" id="firstDate">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="secondDate">По</label>
                <div class="input-group date col-lg-3" data-provide="datepicker">
                    <input type="text" class="form-control" id="secondDate">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail">Адрес email:</label>
                <div class="col-lg-6 input-group">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Введите email">
                </div>
            </div>
            <button type="button" class="btn btn-success">Отправить</button>
        </form>
    </div>
    <div class="container custom-margin-top">
        <div class="row" id="load">
            <div class="col-lg-1 col-lg-offset-5 col-lg-1">
                <img src="~/images/Loading.gif" />
            </div>
        </div>
        <div class="row success" >
            <div class="alert alert-success col-lg-6">Сообщение успешно отправлено</div>
           
        </div>
        
        <div class="row" id="error">
            <div class="alert alert-danger col-lg-6">Ошибка при отправке сообщения</div>
        </div>
    </div>
    <div class="container success">
        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Date</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>ProductName</td>
                        <td>Vendor Code</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody id="cont"></tbody>
            </table>
        </div>
    </div>
    <script type="text/html" id="tmp">
        <tr>
            <td id="ID"></td>
            <td id="Date"></td>
            <td id="Quantity"></td>
            <td id="Price"></td>
            <td id="ProductName"></td>
            <td id="VendorCode"></td>
            <td id="Total"></td>
        </tr>
    </script>
</body>
